
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}


body{
    background-color:#D9D9D9;
    /* overflow: hidden; */
  }


html{
    cursor: none;
}

#circularcursor {
    background-color:#D9D9D9;
    border:1px solid #FF4D00;  
    mix-blend-mode: luminosity;  
    height:30px;
    width:30px;
    border-radius:50%;
    position: absolute;
    z-index: 120;
  }


h1{
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    color:#cccccc;
    font-size: 30rem;
    margin-left: 60vw;
    opacity: 0;
}


h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 350;
    color: black;
    margin-left: 10vw;
    margin-right: 49vw;
    top: 12vh;
    line-height: 1.6rem;
    margin-top: 3.4vh;
    text-align: left;
    position: sticky;
    z-index: 40;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.h3bold{
    color: #FF4D00;
    font-weight: bold;
    font-family: "adelle-sans", sans-serif;
}

.h3b{
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.7rem;
    width: 55vw;
    top: 9vh;
    margin-left: 7vw;
    position: sticky;
    /* font-weight: 400; */

}

h3:nth-of-type(2){
    margin-top: 11vh;
}

h3:nth-of-type(15){
    margin-bottom: 81vh;
}


.flexnav{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100vh;
    left: 78vw;
    top: 5vh;
    z-index: 120;
    text-align: center;
}


.box{
    font-family: "adelle-sans", sans-serif;
    font-size: 10rem;
    text-align: center;  
    color: #FF4D00;
}

.box:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


.box1{
    font-family: "adelle-sans", sans-serif;
    font-size: 9.5rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -3.4vh;

}

.box1:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


.box2{
    font-family: "adelle-sans", sans-serif;
    font-size: 8.5rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -8vh;
}

.box2:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}

.box3{
    font-family: "adelle-sans", sans-serif;
    font-size: 9rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -8vh;
}

a{
    text-decoration: none;
    color: #FF4D00;
}

a:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

marquee {
    font-family:  "adelle-sans", sans-serif;
    font-size: 70rem;
    color: #cccccc;
    /* margin-top: 17.4vh; */
    overflow: hidden;
    position: fixed;
    top: 0vh;
    animation: scroll-left 6s linear infinite;
    z-index: 99;
    opacity: 0;
}




@media only screen and (min-device-width: 414px) and (max-device-width: 768px) {

    
    h1{
        font-size: 12rem;
        line-height: 12.5rem;
    }


    h3{
        font-size: 0.8rem;
        font-weight: 100;
        margin-right: 40vw;
        top: 9vh;
        line-height: 1rem;
    }

    
    .h3b{
        font-size: 1.2rem;
        line-height: 1.4rem;
        top: 9vh;
        margin-left: 9vw;
        width: 56vw;
    }
    
    h3:nth-of-type(2){
        margin-top: 9vh;
    }

    
    .flexnav{
        top: 2vh;
    }

    
    .box{
        font-family: "adelle-sans", sans-serif;
        font-size: 6rem;
        color: #FF4D00;
        z-index: 100;
        margin-top: 2vh;
    }

    
    .box1{
        font-family: "adelle-sans", sans-serif;
        font-size: 5.2rem;
        text-align: center;  
        color: #FF4D00;
        z-index: 100;
        margin-top: -2vh;
        font-weight: 600;
    }
    
    
    .box2{
        font-family: "adelle-sans", sans-serif;
        font-size: 5rem;
        text-align: center;  
        color: #FF4D00;
        z-index: 100;
        font-weight: 600;
        margin-top: -4.3vh;
    }
    
    
    .box3{
        font-family: "adelle-sans", sans-serif;
        font-size: 5.2rem;
        text-align: center;  
        color: #FF4D00;
        margin-top: -4vh;
        z-index: 100;
        font-weight: 600;
    }

    marquee {
        font-family:  "adelle-sans", sans-serif;
        font-size: 50rem;
        color: #cccccc;
        /* margin-top: 17.4vh; */
        overflow: hidden;
        position: fixed;
        top: 12vh;
        animation: scroll-left 6s linear infinite;
        z-index: 99;
        opacity: 0;
    }
    
  }


/* 
@font-face {
    font-family: dudler;
    src: url(ActionCondensedMedium-Grade1I.otf);
}

h1{
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 50vw;
    color: #FF4D00;
    margin-top: -8vh;

}

h1:nth-of-type(1){
    margin-left: 28vw;
    margin-top: -2vh;
    opacity: 0;
}

h1:nth-of-type(2){
    margin-left: 66vw;
    margin-top: -2vh;
    transform: scaleX(-1);
    opacity: 0;
}

h1:nth-of-type(3){
    margin-left: 28vw;
    margin-top: 7vh;
    transform: scaleY(-1);
    opacity: 0;
}

h1:nth-of-type(4){
    margin-left: 66vw;
    margin-top: 7vh;
    transform: scaleX(-1) scaleY(-1);
    opacity: 0;
}



h1:nth-of-type(5){
    font-size: 70vw;
    margin-left: 21vw;
    margin-top: -19vh;
    opacity: 0;
}

h1:nth-of-type(6){
    font-size: 70vw;
    margin-left: 70.5vw;
    margin-top: -19vh;
    transform: scaleX(-1);
    opacity: 0;
}

h1:nth-of-type(7){
    font-size: 70vw;
    margin-left: 21vw;
    margin-top: -8vh;
    transform: scaleY(-1);
    opacity: 0;
}

h1:nth-of-type(8){
    font-size: 70vw;
    margin-left:70.5vw;
    margin-top: -8vh;
    transform: scaleX(-1) scaleY(-1);
    opacity: 0;
}



h1:nth-of-type(9){
    font-size: 90vw;
    margin-left: 12.5vw;
    margin-top: -32vh;
    opacity: 0;
}

h1:nth-of-type(10){
    font-size: 90vw;
    margin-left: 76.5vw;
    margin-top: -32vh;
    transform: scaleX(-1);
    opacity: 0;
}

h1:nth-of-type(11){
    font-size: 90vw;
    margin-left: 12.5vw;
    margin-top: -20.5vh;
    transform: scaleY(-1);
    opacity: 0;
}

h1:nth-of-type(12){
    font-size: 90vw;
    margin-left:76.5vw;
    margin-top: -20.5vh;
    transform: scaleX(-1) scaleY(-1);
    opacity: 0;
}

h1:nth-of-type(13){
    font-size: 110vw;
    margin-left: 2vw;
    margin-top: -48vh;
    opacity: 0;
}

h1:nth-of-type(14){
    font-size: 110vw;
    margin-left: 84vw;
    margin-top: -48vh;
    transform: scaleX(-1);
    opacity: 0;
}

h1:nth-of-type(15){
    font-size: 110vw;
    margin-left: 3vw;
    margin-top: -34.5vh;
    transform: scaleY(-1);
    opacity: 0;
}

h1:nth-of-type(16){
    font-size: 110vw;
    margin-left:84vw;
    margin-top: -34.5vh;
    transform: scaleX(-1) scaleY(-1);
    opacity: 0;
}



h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: black;
    position: relative;
    padding-left: 36vw;
    padding-right: 36vw;
    top: 20vh;
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 1.5vw;
}


.h3bold{
    color: #FF4D00;
    font-weight: bold;
}

h3:nth-of-type(3){
    margin-top: 2vw;
}

h3:nth-of-type(6){
    margin-top: 2vw;
}

h3:nth-of-type(7){
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    top: 30vh;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 2vw;
}

.box{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color:#D9D9D9;
    text-align: center;
    padding-bottom: 25px;
    width: 38px;
    height: 20px;
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    top: 19vh;
    position: relative;
    margin: auto;
    z-index: 10;
}

.go{
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    position: relative;
    text-align: center;
    width: max-content;
    margin: auto;

} */
/* 
h3:nth-of-type(7){
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    top: 23vh;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 2vw;
} */

/* 
.go:hover{
   background-color: #FF4D00; 
}


.box:hover{
    background: #FF4D00;
}

a{
    text-decoration: none;
    color: #D9D9D9;
} */