
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
    overflow: hidden;
}


body{
    background-color:#FF4D00;
  }


html{
    cursor: none;
}

#circularcursor {
    background-color:#FF4D00;
    border:1px solid #D9D9D9;  
    mix-blend-mode: luminosity;  
    height:30px;
    width:30px;
    border-radius:50%;
    position: absolute;
    z-index: 1;
  }
  

  .container{
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    column-gap: 2vw;
    margin-top: -2vh;
    margin-left: 3vw;
    font-size: 30vw;
    color: #D9D9D9;
}

@font-face {
    font-family: dudler;
    src: url(ActionCondensedMedium-Grade1I.otf);
}


h1{
    font-family: dudler, sans-serif;
}

/* h1:nth-of-type(8){
    font-size: 30px;
    font-weight: lighter;
    font-family: Helvetica, sans-serif;
    margin-left: 52vw;
    position: absolute;
    padding: 18px;
    padding-left: 23px;
    padding-right: 23px;
    top: 30vh;
    
} */


@keyframes slideIn {
    0% { transform: translateX(0); }
    100%   { transform: translateX(1500px); }
  }

.slide1{
    padding-right: 200px;
}

.slide2 {
    animation-delay: 0.2s;
    padding-right: 90px;
    animation: slideIn 2s forwards;
  } 


h2{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #D9D9D9;
    top: 21vh;
    margin-left: 47vw;
    position: absolute;
}

h2:hover{
    text-decoration: underline;
    text-decoration-color: #D9D9D9;
    text-underline-offset: 2px;
}

h3{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #D9D9D9;
    top: 21vh;
    margin-left: 28vw;   
    margin-right: 20vw;
    position: absolute;
    text-align: center;
}
  