
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
    margin-top: 2.3vh;
}


body{
    background-color:#D9D9D9;
    overflow: hidden;
  }


html{
    cursor: none;
}

#circularcursor {
    background-color:#D9D9D9;
    border:1px solid #FF4D00;  
    mix-blend-mode: luminosity;  
    height:30px;
    width:30px;
    border-radius:50%;
    position: absolute;
    z-index: 20;
  }


@font-face {
    font-family: dudler;
    src: url(ActionCondensedMedium-Grade1I.otf);
}

h1{
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 30vw;
    color: #FF4D00;
    margin-top: -8vh;

}

h1:nth-of-type(1){
    margin-left: 1vw;
}

h1:nth-of-type(2){
    margin-left: 90.5vw;
    /* margin-top: -4vh; */
    transform: scaleX(-1);
}

h1:nth-of-type(3){
    margin-left: 1vw;
    margin-top: 48vh;
    transform: scaleY(-1);
}

h1:nth-of-type(4){
    margin-left: 90.5vw;
    margin-top: 48vh;
    transform: scaleX(-1) scaleY(-1);
}

h1:nth-of-type(5){
    margin-left: 9vw;
    opacity: 0;
    font-weight: lighter;
    transform: scaleY(-1);
}

h1:nth-of-type(6){
    margin-left: 82.5vw;
    /* margin-top: -4vh; */
    transform: scaleX(-1) scaleY(-1);
    opacity: 0;
}

h1:nth-of-type(7){
    margin-left: 9vw;
    margin-top: 48vh;
    transform: scaleY(1);
    opacity: 0;
}

h1:nth-of-type(8){
    margin-left: 82.5vw;
    margin-top: 48vh;
    transform: scaleX(-1) scaleY(1);
    opacity: 0;
}

h3{
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    z-index: 3;
}

.got{
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    text-align: center;
    width: max-content;
    margin: auto;
    top: 45vh;

}


.got:hover{
   background-color: #FF4D00; 
}

a{
    text-decoration: none;
    color: #D9D9D9;
}

a::after{
    text-decoration: none;
    color: #D9D9D9;
}