
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}


body{
    background-color:#D9D9D9;
  }


html{
    cursor: none;
}

#circularcursor {
    background-color:#D9D9D9;
    border:1px solid #FF4D00;  
    mix-blend-mode: luminosity;  
    height:30px;
    width:30px;
    border-radius:50%;
    position: absolute;
    z-index: 120;
  }


.flex{
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: fixed;
    gap: 3vw;
    margin-left: 18vw;
    margin-top: 6vh;
    z-index: 41;
}

h1{
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    color:#cccccc;
    font-size: 30rem;
    opacity: 0;
}


h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 350;
    color: black;
    margin-left: 10vw;
    margin-right: 55vw;
    top: 12vh;
    line-height: 1.6rem;
    margin-top: 3.4vh;
    text-align: left;
    position: sticky;
    z-index: 40;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.front{
    z-index: 101;
}

.h3bold{
    color: #FF4D00;
    font-weight: bold;
    font-family: "adelle-sans", sans-serif;
}

.h3b{
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.7rem;
    width: 57vw;
    top: 9vh;
    margin-left: 7vw;
    position: sticky;
    /* font-weight: 400; */

}

h3:nth-of-type(2){
    margin-top: 11vh;
}

h3:nth-of-type(26){
    margin-bottom: 80vh;
}


h3:nth-of-type(9){
    position: fixed;
    left: 30vw;
    top: -16vh;
    color:#FF4D00;
    font-size: 50rem;
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    line-height: 51rem;
    margin-right: 0vw;
    margin-left: 1vw;
    top: -7vh;
}


.flexnav{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100vh;
    left: 78vw;
    top: 5vh;
    z-index: 120;
    text-align: center;
}


.box{
    font-family: "adelle-sans", sans-serif;
    font-size: 10rem;
    text-align: center;  
    color: #FF4D00;
}

.box:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


.box1{
    font-family: "adelle-sans", sans-serif;
    font-size: 9.5rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -8vh;

}

.box1:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


.box2{
    font-family: "adelle-sans", sans-serif;
    font-size: 8.5rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -1vh;
}

.box2:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}

.box3{
    font-family: "adelle-sans", sans-serif;
    font-size: 9rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -8vh;
}

a{
    text-decoration: none;
    color: #FF4D00;
}

a:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}



.container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    position: fixed;

  }

  .animation-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
/* 
  .ball{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0vh;
    left: 10vw;
    margin-left: -20px;
    background-color: #FF4D00;
    border-radius: 50%;
    animation:ball-fall 1.2s ease-in infinite alternate, ball-right 3s linear infinite;
  }

  @keyframes ball-fall {
    0% {
      top: 7vh
    }
    100% {
      top:100vh;
    }
  }

  @keyframes ball-right {
    0% {
      left: 0vh;
    }
    100% {
      left: 100vw;
    }
  } */



  @media only screen and (min-device-width: 414px) and (max-device-width: 768px) {


    .flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;        
        width: 80vw;
        position: fixed;
        margin-left: 18vw;
        margin-top: 7vh;
        z-index: 41;
        column-gap: 10vw;
    }

    
    h1{
        font-size: 12rem;
        line-height: 12.5rem;
    }


    h3{
        font-size: 0.8rem;
        font-weight: 100;
        margin-right: 40vw;
        top: 9vh;
        line-height: 1rem;
    }

    
    .h3b{
        font-size: 1.2rem;
        line-height: 1.4rem;
        top: 9vh;
        margin-left: 9vw;
        width: 56vw;
    }
    
    h3:nth-of-type(2){
        margin-top: 9vh;
    }


    h3:nth-of-type(9){
        left: 17vw;
        top: 25vh;
        font-size: 20rem; 
    }
    
    .flexnav{
        top: 2vh;
    }

    
    .box{
        font-family: "adelle-sans", sans-serif;
        font-size: 6rem;
        color: #FF4D00;
        z-index: 100;
        margin-top: 2vh;
    }

    
    .box1{
        font-family: "adelle-sans", sans-serif;
        font-size: 5rem;
        text-align: center;  
        color: #FF4D00;
        z-index: 100;
        margin-top: -5vh;
        font-weight: 600;
    }
    
    
    .box2{
        font-family: "adelle-sans", sans-serif;
        font-size: 5rem;
        text-align: center;  
        color: #FF4D00;
        z-index: 100;
        font-weight: 600;
        margin-top: 0vh;
    }
    
    
    .box3{
        font-family: "adelle-sans", sans-serif;
        font-size: 5.2rem;
        text-align: center;  
        color: #FF4D00;
        margin-top: -4vh;
        z-index: 100;
        font-weight: 600;
    }
    
  }
  
  /*https://blog.jsdisco.dev/realistic-animations-with-css-timing-functions-bouncing-balls-pendulums*/



  /* @keyframes linearGradientMove {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}
 */

/* .container{
    border: #FF4D00;
    border-style: dotted;
    width: 100vw;
    height: 100vh;
    border-width: 9vh;
    position: fixed;
    top: 0vh;
    z-index: 2;
}


@font-face {
    font-family: dudler;
    src: url(ActionCondensedMedium-Grade1I.otf);
}

h1:hover{
    color: #D9D9D9;
}

h1:nth-of-type(1){
    margin-left: 2vw;
    margin-top: -60vh;
}

h1:nth-of-type(2){
    margin-left: 85vw;
    margin-top: -30vh;
    transform: scaleX(-1);
}

h1:nth-of-type(3){
    margin-left: 15vw;
    margin-top: -36vh;
}

h1:nth-of-type(4){
    margin-left: 80vw;
    margin-top: 7vh;
    transform: scaleX(-1) scaleY(-1);
}


h1:nth-of-type(5){
    margin-left: 18vw;
    margin-top: -47vh;
    transform: scaleX(-1);
}

h1:nth-of-type(6){
    margin-left: 70vw;
    margin-top: -70vh;
}

h1:nth-of-type(7){
    margin-left: 5vw;
    margin-top: -70vh;
}



h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    padding-left: 2vw;
    padding-right: 2vw;
    top: 9vh;
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 1vw;
    mix-blend-mode: hard-light;
}


.h3bold{
    color: #D9D9D9;
    font-weight: bold;
    font-size: 1.5rem;
    transition: font-size;
    transition-duration: 1s;
    transition-delay: 10s;
}

.box{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color:#D9D9D9;
    text-align: center;
    padding-bottom: 25px;
    width: 38px;
    height: 20px;
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    top: 13.5vh;
    position: relative;
    margin: auto;
    z-index: 10;
}

.go{
    outline: solid;
    outline-width: 1.2px;
    outline-color: #D9D9D9;
    border-radius: 12px;
    position: relative;
    text-align: center;
    width: max-content;
    margin: auto;

}


h3:nth-of-type(16){
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: absolute;
    top: 84vh;
    left: 35vw;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 1vw;
    width: max-content;
}

h3:nth-of-type(16):hover{
    scale: 2;
}

h3:nth-of-type(17){
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: absolute;
    top: 84vh;
    left: 45vw;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 1vw;
}

h3:nth-of-type(17):hover{
    scale: 2;
}

h3:nth-of-type(18){
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: absolute;
    top: 84vh;
    left: 55vw;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 1vw;
}

h3:nth-of-type(18):hover{
    scale: 2;
}

h3:nth-of-type(19){
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: absolute;
    top: 84vh;
    left: 65vw;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 1vw;
}

h3:nth-of-type(19):hover{
    scale: 2;
}

.go:hover{
   background-color: #D9D9D9; 
}


.box:hover{
    background: #FF4D00;
}

a{
    text-decoration: none;
    color: #FF4D00;
} */