
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}


body{
    background-color:#D9D9D9;
    /* overflow: hidden; */
  }


html{
    cursor: none;
}

#circularcursor {
    background-color:#D9D9D9;
    border:1px solid #FF4D00;  
    mix-blend-mode: luminosity;  
    height:30px;
    width:30px;
    border-radius:50%;
    position: absolute;
    z-index: 120;
  }


  h1{
    position: fixed;
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    color:#cccccc;
    margin-top: -7vh;
    font-size: 12rem;
    margin-left: 2vw;
    opacity: 0;
    z-index: 50;
}

svg{
    position: absolute;
    top: 61vh;
}

text{
    position: fixed;
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    fill:#cccccc;
    font-size: 20rem;
    z-index: 150;
}


h1:nth-of-type(1){
    font-size: 25rem;
    left: 5vw;
    top: 57vh;
}


h1:nth-of-type(2){
    left: 30vw;
    top: 51vh;
    font-size: 30rem;
}

h1:nth-of-type(3){
    left: 59vw;
    top: 45vh;
    font-size: 35rem;
}


h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 350;
    color: black;
    margin-left: 10vw;
    margin-right: 50vw;
    top: 12vh;
    line-height: 1.6rem;
    margin-top: 3.4vh;
    text-align: left;
    position: sticky;
    z-index: 3;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    /* text-transform: uppercase; */
}

h3:nth-of-type(6){
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    color:#FF4D00;
    font-size: 9rem;
    margin-top: 1.2vh;
}



.h3bold{
    color: #FF4D00;
    font-weight: bold;
    font-family: "adelle-sans", sans-serif;
}

.h3b{
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.7rem;
    width: 57vw;
    top: 9vh;
    margin-left: 7vw;
    position: sticky;
    /* font-weight: 400; */

}

h3:nth-of-type(2){
    margin-top: 12vh;
}

h3:nth-of-type(6){
    margin-bottom: 80vh;
}


/* 
.h3b{
    background-color: #FF4D00;
} */

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

.box{
    font-family: "adelle-sans", sans-serif;
    font-size: 10rem;
    text-align: center;  
    color: #FF4D00;
    border-radius: 12px;
    top: 7vh;
    left: 80vw;
    position: fixed;   
    z-index: 100;
    /* animation: blink-animation 2s steps(5, start) infinite; */
}

.box:hover{
    color: #D9D9D9;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}



.box1{
    font-family: "adelle-sans", sans-serif;
    font-size: 9.5rem;
    text-align: center;  
    color: #FF4D00;
    border-radius: 12px;
    top: 21vh;
    left: 81.3vw;
    position: fixed;   
    z-index: 100;
    font-weight: 600;
}

.box1:hover{
    color: #D9D9D9;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


.box2{
    font-family: "adelle-sans", sans-serif;
    font-size: 8.2rem;
    text-align: center;  
    border-radius: 12px;
    top: 38vh;
    color: #FF4D00;
    left: 80.5vw;
    position: fixed;   
    z-index: 100;
    font-weight: 600;
}

.box2:hover{
    color: #D9D9D9;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}

.box3{
    font-family: "adelle-sans", sans-serif;
    font-size: 9rem;
    text-align: center;  
    color: #FF4D00;
    border-radius: 12px;
    top: 48.5vh;
    left: 80.5vw;
    position: fixed;   
    z-index: 100;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #FF4D00;
}

a:hover{
    color: #D9D9D9;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


/* 
@font-face {
    font-family: dudler;
    src: url(ActionCondensedMedium-Grade1I.otf);
}


h1{
    font-family: Helvetica, sans-serif;
    font-size: 4rem;
    color:#FF4D00;
    position: absolute;
    top: 87.5vh;
    left: 3vw;
}


h2{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: black;
    position: relative;
    padding-left: 34vw;
    padding-right: 34vw;
    top: 20vh;
    text-align: center;
    z-index: 3;
}


h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: black;
    position: relative;
    padding-left: 34vw;
    padding-right: 34vw;
    top: 20vh;
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 0.8vh;
}

h3:nth-of-type(1){
    margin-top: 3vh;
}

h3:nth-of-type(2){
    position: relative;
    font-family: dudler, sans-serif;
    font-size: 30vw;
    color: #FF4D00;
    margin-left: 1vw;
    margin-top: -23vh;
}

h3:nth-of-type(3){
    margin-top: -1vh;
}


h3:nth-of-type(4){
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 30vw;
    color: #FF4D00;
    margin-left: -13vw;
    margin-top: -11.25vh;
}

h3:nth-of-type(5){
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 30vw;
    color: #FF4D00;
    margin-left: 29vw;
    margin-top: -11.25vh;
}

h3:nth-of-type(7){
    font-size: 2.7rem;
    font-weight: 400;
    margin-top: 3vh;
}

h3:nth-of-type(8){
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 30vw;
    color: #FF4D00;
    margin-left: -33.5vw;
    margin-top: -11.25vh;
}

h3:nth-of-type(9){
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 30vw;
    color: #FF4D00;
    margin-left: 49vw;
    margin-top: -11.25vh;
}


h3:nth-of-type(10){
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    top: 30vh;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 2.3vw;
}


.h3bold{
    color: #FF4D00;
    font-weight: bold;
}


.box{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color:#D9D9D9;
    text-align: center;
    padding-bottom: 25px;
    width: 38px;
    height: 20px;
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    top: 18vh;
    position: relative;
    margin: auto;
    z-index: 10;
}

.go{
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    position: relative;
    text-align: center;
    width: max-content;
    margin: auto;
} */

/* 
h3:nth-of-type(7){
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    top: 23vh;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 2vw;
} */

