
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}


body{
    background-color:#D9D9D9;
    /* overflow: hidden; */
  }


html{
    cursor: none;
}

#circularcursor {
    background-color:#D9D9D9;
    border:1px solid #FF4D00;  
    mix-blend-mode: luminosity;  
    height:30px;
    width:30px;
    border-radius:50%;
    position: absolute;
    z-index: 120;
  }


h1{
    position: fixed;
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    color:#cccccc;
    margin-top: -7vh;
    font-size: 12rem;
    margin-left: 2vw;
    opacity: 0;
    z-index: 50;
}

h1:nth-of-type(1){
    transform: rotate(45deg);
    left: 32vw;
    top: -16vh;
    font-size: 70rem;
}

h1:nth-of-type(2){
    transform: rotate(-45deg);
    left: 43vw;
    top: -16vh;
    font-size: 70rem;
}

h2{
    position: fixed;
    font-family: "adelle-sans", sans-serif;
    font-weight: 700;
    color:#cccccc;
    margin-top: -7vh;
    font-size: 12rem;
    margin-left: 2vw;
    opacity: 0;
    z-index: 50;
}

h2:nth-of-type(1){
    left: 5vw;
    top: -9vh;
    font-size: 50rem;
}

h2:nth-of-type(2){
    left: 71vw;
    top: 55vh;
    font-size: 50rem;
}


h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 350;
    color: black;
    margin-left: 10vw;
    margin-right: 50vw;
    top: 11vh;
    line-height: 1.6rem;
    margin-top: 3.4vh;
    text-align: left;
    position: sticky;
    z-index: 3;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    /* text-transform: uppercase; */
}



h3:nth-of-type(2){
    margin-top: 11vh;
}


h3:nth-of-type(10){
    margin-bottom: 80vh;
}


.h3bold{
    color: #FF4D00;
    font-weight: bold;
    font-family: "adelle-sans", sans-serif;
}


.h3b{
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.7rem;
    width: 57vw;
    top: 11vh;
    margin-left: 7vw;
    position: sticky;

}



.flexnav{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100vh;
    left: 78vw;
    top: 5vh;
    z-index: 120;
    text-align: center;
}


.box{
    font-family: "adelle-sans", sans-serif;
    font-size: 10rem;
    text-align: center;  
    color: #FF4D00;
}

.box:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


.box1{
    font-family: "adelle-sans", sans-serif;
    font-size: 9.5rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -6vh;

}

.box1:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}


.box2{
    font-family: "adelle-sans", sans-serif;
    font-size: 8.5rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -8vh;
}

.box2:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}

.box3{
    font-family: "adelle-sans", sans-serif;
    font-size: 9rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -8vh;
}

.box3:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}

.box4{
    font-family: "adelle-sans", sans-serif;
    font-size: 9rem;
    text-align: center;  
    color: #FF4D00;
    font-weight: 600;
    margin-top: -2vh;
}


a{
    text-decoration: none;
    color: #FF4D00;
}

a:hover{
    color: transparent;
    -webkit-text-stroke-color: #FF4D00;
    -webkit-text-stroke-width: 1px;    
}



@media only screen and (min-device-width: 414px) and (max-device-width: 768px) {


    h1{
        margin-top: 50vh;
    }
    
    h1:nth-of-type(1){
        font-size: 20rem;
    }
    
    h1:nth-of-type(2){
        font-size: 20rem;
    }
    
    h2{
        position: fixed;
        font-family: "adelle-sans", sans-serif;
        font-weight: 700;
        color:#cccccc;
        margin-top: -7vh;
        font-size: 12rem;
        margin-left: 2vw;
        opacity: 0;
        z-index: 50;
    }
    
    h2:nth-of-type(1){
        left: 0vw;
        top: 5vh;
        font-size: 16rem;
    }
    
    h2:nth-of-type(2){
        left: 71vw;
        top: 75vh;
        font-size: 16rem;
    }

    

    .flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;        
        width: 100vw;
        position: fixed;
        margin-left: 15vw;
        margin-top: 7vh;
        z-index: 41;
        column-gap: 10vw;
    }

    
    h1{
        font-size: 12rem;
        line-height: 12.5rem;
    }


    h3{
        font-size: 0.8rem;
        font-weight: 100;
        margin-right: 46vw;
        top: 9vh;
        line-height: 1rem;
    }

    
    .h3b{
        font-size: 1.2rem;
        line-height: 1.4rem;
        top: 9vh;
        margin-left: 9vw;
        width: 56vw;
    }
    
    h3:nth-of-type(2){
        margin-top: 9vh;
    }

    
    .flexnav{
        top: 2vh;
    }

    
    .box{
        font-family: "adelle-sans", sans-serif;
        font-size: 6rem;
        color: #FF4D00;
        z-index: 100;
        margin-top: 2vh;
    }

    
    .box1{
        font-family: "adelle-sans", sans-serif;
        font-size: 5rem;
        text-align: center;  
        color: #FF4D00;
        z-index: 100;
        margin-top: -3vh;
        font-weight: 600;
    }
    
    
    .box2{
        font-family: "adelle-sans", sans-serif;
        font-size: 5rem;
        text-align: center;  
        color: #FF4D00;
        z-index: 100;
        font-weight: 600;
        margin-top: -5vh;
    }
    
    
    .box3{
        font-family: "adelle-sans", sans-serif;
        font-size: 5.2rem;
        text-align: center;  
        color: #FF4D00;
        margin-top: -5vh;
        z-index: 100;
        font-weight: 600;
    }
    
    .box4{
        font-family: "adelle-sans", sans-serif;
        font-size: 5.2rem;
        text-align: center;  
        color: #FF4D00;
        margin-top: -1vh;
        z-index: 100;
        font-weight: 600;
    }

  }


/* 
@font-face {
    font-family: dudler;
    src: url(ActionCondensedMedium-Grade1I.otf);
} */


/* h3{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color: black;
    position: relative;
    padding-left: 34vw;
    padding-right: 34vw;
    top: 20vh;
    text-align: center;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 0.5vw;
}


@keyframes slideIn {
    0% { transform: translateX(0); }
    100%   { transform: translateX(41vw); }
  } */

/* @keyframes rotate{
    0% {rotate: 0deg}
    25% {rotate: 30deg}
    50% {rotate: 60deg}
    75% {rotate: 90deg}
    100% {rotate: 120deg}
} */

/* h3:nth-of-type(1){
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 67vw;
    color: #FF4D00;
    margin-top: -29vh;
    rotate: 360deg;
    text-align: left;
    padding-left: 25vw;
    padding-right: 1vw;
    animation: slideIn 2s both 3s;
}

h3:nth-of-type(3){
    position: absolute;
    font-family: dudler, sans-serif;
    font-size: 67vw;
    color: #FF4D00;
    margin-top: -29vh;
    text-align: left;
    padding-left: 6vw;
    padding-right: 1vw;
}

h3:nth-of-type(4){
    position: absolute;
    font-family: dudler, sans-serif;
    transform: scaleX(-1) scaleY(-1);
    font-size: 67vw;
    color: #FF4D00;
    margin-top: -29vh;
    text-align: right;
    left: 75vw;
    padding-right: 1vw;
}

h3:nth-of-type(6){
    font-size: 1.5rem;
    font-weight: 500;
}

h3:nth-of-type(7){
    font-size: 1.8rem;
    font-weight: 500;
}

h3:nth-of-type(8){
    font-size: 2rem;
    font-weight: 500;
}

h3:nth-of-type(9){
    font-size: 1.5rem;
    font-weight: 500;
}

h3:nth-of-type(10){
    margin-top: 2vw;
}

h3:nth-of-type(11){
    margin-top: 2.5vw;
}


h3:nth-of-type(12){
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    top: 30vh;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 2vw;
}


.h3bold{
    color: #FF4D00;
    font-weight: bold;
}


.box{
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    color:#D9D9D9;
    text-align: center;
    padding-bottom: 25px;
    width: 38px;
    height: 20px;
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    top: 19vh;
    position: relative;
    margin: auto;
    z-index: 10;
}

.go{
    outline: solid;
    outline-width: 1.2px;
    outline-color: #FF4D00;
    border-radius: 12px;
    position: relative;
    text-align: center;
    width: max-content;
    margin: auto;

} */
/* 
h3:nth-of-type(7){
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: lighter;
    color:#D9D9D9;
    position: relative;
    top: 23vh;
    z-index: 3;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    margin-top: 2vw;
} */

